body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}

.profile-link {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
    margin-top: 0.3rem;
    margin-left: 25rem;
    position: fixed;
    z-index: 100;
}

.sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    color: #000000;
}

.section-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 8rem;
    border: none;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.section-image {
    flex-grow: 1;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.statistiques {
    background-image: url('../../public/statistiques.jpg');
}

.stockage {
    background-image: url('../../public/stockage.webp');
}

.tresorerie {
    background-image: url('../../public/tresorerie.jpg');
}

.add-event-button {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    border: none;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.2s ease-in-out;
}

footer {
    margin-top: 2rem;
    font-size: 0.8rem;
    text-align: center;
}

@media (max-width: 768px) {

    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin-bottom: 2rem;
        margin-top: 0rem;
        border-bottom: solid 3px #493a04;
        background-color: #ebdec6;
        color: #000000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 10px 10px;
    }

    .header h1 {
        font-size: 2rem;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
    }

    .sections-container {
        gap: 2rem;
        color: #000000;
    }

    .section-button {
        width: 5rem;
        height: 5rem;
        font-size: 1.2rem;
        padding: 1rem;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
        color: #000000;
    }

    .section-image {
        height: 50%;
    }

    .profile-link {
        font-size: 1.8rem;
    }
}

.section-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    border: none;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.section-button span {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.section-image {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 60%;
}